body {
    margin: 18px;
    padding: 10px;
    font-family:Brush Script, cursive;
	border-top-style: dashed;
	border-right-style: solid;
	border-left-style: solid;
	border-color: red;
	background-image: url(Images/background.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    position: relative;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1; 
}

.container::before {
    top: -20px;
    left: -20px;
    right: -20px;
    height: 50px;
}

.container::after {
    bottom: -20px;
    left: -20px;
    right: -20px;
    height: 50px;
}
ul {
  list-style-type: circle;
  margin: 10px;
  padding: 14px;
  overflow: hidden;
  background-color: #E4DDDD;
  font-size: 30px;
  font-weight: bold;
  border-style: solid;
  border-color:#F45B5B;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 20px 50px;
   text-decoration: oblique;
}

li a:hover:not(.active) {
  background-color: #E5A8A8;
}

.active {
  background-color: #04AA6D;
}
h1{
   font-family: Brush Script, cursive;
   font-size: 55px;
   text-shadow: 2px 2px #ffffff;
   text-align: center;
   color: black;
   margin: 10px;
   
}
h2{
   font-family: Brush Script, cursive;
   font-size: 35px;
   text-shadow: 2px 2px #ffffff;
   text-align: center;
   text-decoration: underline;
   color: black;
   margin: 10px;
   
}
h3{
   font-family: papyrus, fantasy;
   font-size: 30px;
    font-weight: bold;
   text-shadow: 2px 2px #ffffff;
   text-align: left;
   padding-left: 400px;
   color: black;
   margin-left: 80px;
   
}
h4{
   font-family: papyrus, fantasy;
   font-size: 32px;
   font-weight: bold;
   text-shadow: 2px 2px #ffffff;
   text-align: center;
   color: black;
   margin: 10px;
   
}
h5{
   font-family: Brush Script, cursive;
   font-size: 32px;
   text-shadow: 2px 2px #ffffff;
   text-align: left;
   padding-left: 350px;
   color: black;
    margin-left: 80px;
}
h6{
   font-family: Georgia, serif;
   font-size: 30px;
   text-shadow: 2px 2px #ffffff;
   text-align: center;
   text-decoration: line-through;
   color: black;
   margin: 10px;
   padding-bottom: 40px;
}
p{
   font-family: Georgia, serif;
   font-size: 35px;
   font-style: oblique;
   text-shadow: 2px 2px #ffffff;
   text-align: center;
   color: black;
   margin: 10px;
   
}